{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/script.js' %}"></script>

<div class="clocks">
  <div class="clock">
    <H1>UTC</H1>
    <canvas id="utc" width="200" height="200"></canvas>
  </div>
</div>
<p></p>

<div>
<select id="tzlist" onchange="tzoffset=this.value, clock_name=this.options[this.selectedIndex].getAttribute('name')">
	<option name="International Date Line West" value="-12">(GMT-12:00) International Date Line West</option>
	<option name="Midway Island" value="-11">(GMT-11:00) Midway Island, Samoa</option>
	<option name="Hawaii" value="-10">(GMT-10:00) Hawaii</option>
	<option name="Alaska" value="-9">(GMT-09:00) Alaska</option>
	<option name="Tijuana" value="-8">(GMT-08:00) Tijuana, Baja California</option>
	<option name="Chihuahua" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
	<option name="Mexico City" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
	<option name="Bogota, Lima" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
	<option name="Caracas, La Paz" value="-4">(GMT-04:00) Caracas, La Paz</option>
	<option name="Buenos Aires" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
	<option name="Mid-Atlantic" value="-2">(GMT-02:00) Mid-Atlantic</option>
	<option name="Azores" value="-1">(GMT-01:00) Azores</option>
	<option name="London" value="0">(GMT+00:00) Greenwich Mean Time : London</option>
	<option name="Amsterdam" value="1">(GMT+01:00) Amsterdam, Berlin, Vienna</option>
	<option name="Kyiv" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
	<option name="Moscow" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
	<option name="Abu Dhabi" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
	<option name="Yekaterinburg" value="5">(GMT+05:00) Yekaterinburg</option>
	<option name="Astana" value="6">(GMT+06:00) Astana, Dhaka</option>
	<option name="Bangkok" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
	<option name="Hong Kong" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong</option>
	<option name="Tokyo" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
	<option name="Sydney" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
	<option name="New Caledonia" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
	<option name="Wellington" value="12">(GMT+12:00) Auckland, Wellington</option>
	<option name="Nuku'alofa" value="13">(GMT+13:00) Nuku'alofa</option>
</select>

<button onclick="newClock()">Add new clock</button>
</div>